{
  "config": {
    "start": "initialStep"
  },
  "steps": {
    "initialStep": {
      "text": "You are in a cave. You can turn left or right.",
      "links": {
        "left": "Turn left",
        "right": "Turn right"
      }
    },
    "left": {
      "text": "You turned left. You find a sword. As you walk, the corridor bends to the right.",
      "setFlag": "sword",
      "links": {
        "monster": "Keep walking"
      }
    },
    "right": {
      "text": "You turned right. As you walk, the corridor bends to the left.",
      "links": {
        "monster": "Keep walking"
      }
    },
    "monster": {
      "text": "A goblin appears! {{#sword}}It looks at your sword and hesitates...{{/sword}}",
      "links": {
        "fleeEnd": "Flee",
        "victoryEnd": {
          "ifFlag": "sword",
          "text": "Attack it with your sword"
        }
      }
    },
    "fleeEnd": {
      "text": "You came back to where you came from: the end."
    },
    "victoryEnd": {
      "text": "The globlin flees and leaves a treasure behind him. You win!"
    }
  }
}