* {
    margin: 0;
    padding: 0;
}

body {
    background: url('img/bg.png') #334;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 20px;
    font-size: 15px;
}

h1 {
    margin: auto;
    max-width: 900px;
    color: #bd922c;
    padding-bottom: 10px;
    font-size: 3rem;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

h1 .red {
    color: #f10007;
}

p {
    padding-bottom: 5px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#rwnd-container {
    border-top: 2px solid #bd922c;
    background-color: #fccb64;
    margin: auto;
    max-width: 900px;
    box-sizing: border-box;
    padding: 20px;
    color: #012;
    font-size: 1.1rem;
    line-height: 1.5rem;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

#footer {
    margin: auto;
    max-width: 900px;
    padding-top: 5px;
    color: #151520;
}
#footer a {
    color: #151520;
    font-weight: bold;
}
#footer a:hover {
    color: black;
}
#footer img {
    border-left: 1px solid #151520;
    border-bottom: 1px solid #151520;
    margin-right: 5px;
}

#footer .pull-right {
    float: right;
    text-align: right;
}

.rwnd-step {
    opacity: 1.0;
    transition: 0.7s;
}

.rwnd-links {
    margin: 10px;
    padding-bottom: 20px;
}

.rwnd-link {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #012;
}
.rwnd-link:hover {
    color: #f10007;
}

.rwnd-link-disabled {
    color: #A96;
    cursor: not-allowed;
}
.rwnd-link-disabled:hover {
    color: #A96;
}

.rwnd-hidden {
    opacity: 0.0 !important;
}

.rwnd-menu {
    text-align: right;
    font-size: 0.8rem;
}